* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  .Users {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3447;
  }
  
  .welcome-message {
    background-color: #2a3447;
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px #ddd;
    text-align: center;
    margin-top: -500px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffb74d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e6891f;
  }
  